In [26]:
import mdtraj as mdt
import numpy as np

In [3]:
traj = mdt.load("../../test_cases/eralpha/1qku/1qku.pdb")
topology = traj.topology

In [6]:
df, _ = topology.to_dataframe()
df

      serial name element  resSeq resName  chainID segmentID
0          1    N       N     301     SER        0
1          2   CA       C     301     SER        0
2          3    C       C     301     SER        0
3          4    O       O     301     SER        0
4          5   CB       C     301     SER        0
...      ...  ...     ...     ...     ...      ...       ...
6591    6595    O       O    2203     HOH        8
6592    6596    O       O    2204     HOH        8
6593    6597    O       O    2205     HOH        8
6594    6598    O       O    2206     HOH        8
6595    6599    O       O    2207     HOH        8

[6596 rows x 7 columns]

In [17]:
df[df["chainID"] == 3]

      serial name element  resSeq resName  chainID segmentID
5940    5944   C1       C     600     EST        3
5941    5945   C2       C     600     EST        3
5942    5946   C3       C     600     EST        3
5943    5947   O3       O     600     EST        3
5944    5948   C4       C     600     EST        3
5945    5949   C5       C     600     EST        3
5946    5950   C6       C     600     EST        3
5947    5951   C7       C     600     EST        3
5948    5952   C8       C     600     EST        3
5949    5953   C9       C     600     EST        3
5950    5954  C10       C     600     EST        3
5951    5955  C11       C     600     EST        3
5952    5956  C12       C     600     EST        3
5953    5957  C13       C     600     EST        3
5954    5958  C14       C     600     EST        3
5955    5959  C15       C     600     EST        3
5956    5960  C16       C     600     EST        3
5957    5961  C17       C     600     EST        3
5958    5962  O17       O     600     EST        3
5959    5963  C18       C     600     EST        3

In [24]:
traj.xyz.shape

(1, 6596, 3)